form {
  @include centrar-flex(column);
  max-width: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 10px;

  label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  button {
    padding: 15px 30px;
    background-color: $color-secundario;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: darken($color-secundario, 10%);
    }
  }
}