.discografica {
  @include centrar-flex(row, space-between);
  padding-bottom: 20px;

  iframe {
    width: 100%;
    height: 550px;
    padding-left: 50px;
  }
}

.texto_formal {
  margin-top: 90px;
  text-align: center;
}

.album-img {
  width: 100%;
  height: 400px;
}

.card {
  background-color: darken($color-fondo, 5%);
  color: $color-texto;

  .card-title {
    color: lighten($color-texto, 10%);
  }

  .card-text {
    color: #dddddd;
  }

  .text-body-secondary {
    color: #bbbbbb;
  }
}